<h1>Sponsor Login</h1>

<% if @sponsor.errors %>
    <ul>
    <% @sponsor.errors.full_messages.each do |error| %>
        <li class="error"><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @sponsor, url: "/login" do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>
