<br><br><br><br>
<div id="loginpath">
  <h1>Sponsor Login</h1>
<div class="error"><%= flash.notice %></div>

<%= form_for @sponsor, url: "/login" do |f| %>
  <%= f.text_field :username, placeholder: "Username" %><br>
  <%= f.password_field :password, placeholder: "Password"%><br>
  <%= f.submit "Login" %>
<% end %>
<div>
