<br><br><br><br>
<div class="loginpath">
  <h1>Login</h1>
</div>
<div class="error"><%= flash.notice %></div>

<%= form_tag url: "/login" do %>
  <%= text_field_tag :username, nil, placeholder: "Username" %><br>
  <%= password_field_tag :password, nil, placeholder: "Password" %><br>
  <%= submit_tag "Login" %>
<% end %>
</div>
