<h2><%= @planet.name %></h2>

<p><strong>Planet Code Name:</strong> <%= @planet.planet_code %></p>
<p><strong>Launch Year:</strong> <%= @planet.launch_year %></p>
<p><strong>Distance From Earth:</strong> <%= @planet.distance %></p>
<p><strong>Description:</strong> <%= @planet.description %></p>

<p><strong>Funding Goal:</strong> <%= @planet.funding_goal %></p>

<h3>Top Ten Donators</h3>
<h3>PLACEHOLDER</h3>

<p><strong>How Far Are We From Our Goal:</strong> $<%= @planet.funding_gap %></p>

<h3>Mission Crew Members</h3>
<% @planet.colonists.each do |colonist| %>
  <h3><%= link_to colonist.full_name, colonist %></h3>
<% end %>
