<div class="planetshow">
<h1><%= @planet.name %></h1><br>
<h3>Planet Code Name: <%= @planet.planet_code %></h3>
<h3>Launch Year: <%= @planet.launch_year %></h3>
<h3>Distance From Earth: <%= number_with_delimiter(@planet.distance, :delimiter => ',') %></h3>
<h3>Description:</h3>
<p><%= @planet.description %></p><br>

<h3>Mission Crew Members</h3>
<% @planet.colonists.each do |colonist| %>
  <h3><%= link_to colonist.full_name, colonist, class: "colonistprofile" %></h3>
<% end %>

<br>

<h3>Funding Goal</h3>
<h4>$<%= number_with_delimiter(@planet.funding_goal, :delimiter => ',') %></h4>

<h3>Top Ten Donators</h3>
<% @planet.top_ten_sponsors.each_with_index do |sponsor,index| %>
<ol>
    <h5><%= "#{index + 1}. #{sponsor.keys[0]} - #{number_with_delimiter(sponsor.values[0], :delimiter => ',')}" %></h5>
</ol>
<% end %>

<h3>How Far Are We From Our Goal</h3>
<h3>$<%= number_with_delimiter(@planet.funding_gap, :delimiter => ',') %></h3>
<% if session[:type] == "sponsor"%>
  <%= link_to "Donate", new_donation_path, class: "colonistprofile"%>
<% end %>
<br><br>
<%= link_to "Go Back to Planet List", planets_path, class: "colonistprofile"%>
</div>
