<h2><%= @sponsor.full_name %></h2>

<h3>
  Net Worth: $<%= number_with_delimiter(@sponsor.net_worth, :delimiter => ',') %>
</h3>

<br>
<h3>Goals:</h3>
<p>
  <%= @sponsor.goal %>
</p>


<% if session[:id] == @sponsor.id && session[:type] == "sponsor" %>
  <%= link_to "Edit Profile", edit_sponsor_path(@sponsor)%>
<% end %>


<h3>Donation History</h3>
<ul>
<% @donation_history.each do |donation|%>
  <li><%= "#{donation.keys[0].strftime("%Y, %B %d")} - $#{number_with_delimiter(donation.values[0], :delimiter => ',')}"%></li>
<ul>
<% end %>
