<h2><%= @sponsor.full_name %></h2>

<h3>
  Net Worth: $<%= @sponsor.net_worth %>
</h3>

<br>
<h3>Goals:</h3>
<p>
  <%= @sponsor.goal %>
</p>

<% if session[:sponsor_id]  == @sponsor.id%>
  <%= link_to "Edit Profile", edit_sponsor_path(@sponsor)%>
<% end %>

<% if session[:sponsor_id]  == @sponsor.id%>
<%= form_tag @sponsor, method: "Delete" do %>
    <%= submit_tag "Delete Account" %>
  <%end%>
<%end%>
