<h1>Top Ten Most Generous Sponsors</h1>
<ul>
<% @top_ten_sponsors.each do |sponsor|%>
<li><%= "#{sponsor.keys[0]} #{number_with_delimiter(sponsor.values[0], :delimiter => ',')}" %></li>
</ul>
<% end %>
<br>
<h1>Most Stingy Sponsor</h1>
<%= "#{Sponsor.stingiest.keys[0]} #{number_with_delimiter(Sponsor.stingiest.values[0], :delimiter => ',')}" %></li>
<br>
<h1>Richest Sponsor</h1>
<%= "#{@richest_sponsor.full_name} #{number_with_delimiter(@richest_sponsor[:net_worth], :delimiter => ',')}" %></li>
<br>
<h1>Poorest Sponsor</h1>
<%= "#{@poorest_sponsor.full_name} #{number_with_delimiter(@poorest_sponsor[:net_worth], :delimiter => ',')}" %></li>
<br>
<h1>Most Frequent Sponsor</h1>
<%= "#{@most_frequent_sponsor.keys[0]} #{number_with_delimiter(@most_frequent_sponsor[:net_worth], :delimiter => ',')}" %></li>
<br>
<h1>Least Frequent Sponsor</h1>
<%= "#{@least_frequent_sponsor.keys[0]} #{number_with_delimiter(@least_frequent_sponsor[:net_worth], :delimiter => ',')}" %></li>
