
<div class="colonistinfo">
<h2><%= @colonist.full_name %></h2>
<h3>Profile and Qualifications</h3>

<p><strong>Code Name:</strong> <%= @colonist.codename %></p>
<p><strong>Age:</strong> <%= @colonist.age %></p>
<p><strong>Gender:</strong> <%= @colonist.gender %></p>
<p><strong>Professional Qualifications:</strong> <%= @colonist.profession %></p>

<h2>Missions Scheduled</h2>
<ul>
  <% @colonist.planets.each do |planet|%>
  <li>
    <%= link_to "Mission: '#{planet.planet_code}' to #{planet.name} -  #{planet.launch_year}", planet %>
  </li>
  <% end %>
</ul>


<% if session[:id]  == @colonist.id && session[:type] == "colonist" %>
  <%= link_to "Edit Profile", edit_colonist_path(@colonist)%>
<% end %>

<div>
