<h2><%= @colonist.full_name %></h2>
<h2>Profile and Qualifications</h2>

<h3>Code Name: <%= @colonist.codename %></h3>
<h3>Age: <%= @colonist.age %></h3>
<h3>Gender: <%= @colonist.gender %></h3>
<h3>Professional Qualifications: <%= @colonist.profession %></h3>

<h2>Missions Scheduled</h2>
<ul>
  <% @colonist.planets.each do |planet|%>
  <li>
    <%= link_to "Mission: '#{planet.planet_code}' to #{planet.name} -  #{planet.launch_year}", planet %>
  </li>
  <% end %>
</ul>
