<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>SpaceX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<div id="topbar">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Colonists", colonists_path%>
    <%= link_to "Planets", planets_path%>
    <%= link_to "Sponsors", sponsors_path%>
    <% if session[:id] && session[:type] == "sponsor"%>
      <%= link_to "Donation Page", new_donation_path%>
    <% end %>
    <% if session[:id] && session[:type] == "sponsor"%>
      <%= link_to "My Profile", sponsor_path(Sponsor.find(session[:id]))%>
    <% end %>
    <% if session[:id] && session[:type] == "colonist"%>
      <%= link_to "My Profile", sponsor_path(Colonist.find(session[:id]))%>
    <% end %>
</div>
  </head>

<div id="LoginLook">

  <body>
      <% if session[:id]%>
       <h3><%= session[:first_name] %></h3>
       <div><%= link_to "Logout", logout_path, class: "right-align", method: "DELETE"%></div>
       <% else %>
       <%= link_to "Login", login_path%>
       <h3>Guest</h3>
       <% end %>
    <%= yield %>
  </body>
</div>
</html>
