<!DOCTYPE html>
<html>
  <head>
    <title>SpaceX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Colonists", colonists_path(@colonists)%>
    <%= link_to "Planets", planets_path(@planets)%>
    <%= link_to "Sponsors", sponsors_path(@sponsors)%>
    <% if session[:sponsor_id] %>
      <%= link_to "Donation Page", new_donation_path%>
    <% end %>
  </head>

  <body>
      <% if session[:sponsor_id]%>
       <h3>Welcome <%= get_current_user %>!</h3>
       <div><%= link_to "Logout", logout_path, class: "right-align", method: "DELETE"%></div>
       <% else %>
       <%= link_to "Login", login_path%>
       <% end %>
    <%= yield %>
  </body>
</html>
