<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
    <title>SpaceX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<div class="topbar">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Colonists", colonists_path, class: "topbutton"%>
    <%= link_to "Planets", planets_path, class: "topbutton"%>
    <%= link_to "Sponsors", sponsors_path, class: "topbutton"%>
    <%= link_to "Donation Ranking", donations_path, class: "topbutton"%>
    <% if session[:id] && session[:type] == "sponsor"%>
      <%= link_to "Donation Page", new_donation_path, class: "topbutton"%>
    <% end %>
    <% if session[:id] && session[:type] == "sponsor"%>
      <%= link_to "My Profile", sponsor_path(Sponsor.find(session[:id])), class: "topbutton"%>
    <% end %>
    <% if session[:id] && session[:type] == "colonist"%>
      <%= link_to "My Profile", colonist_path(Colonist.find(session[:id])), class: "topbutton"%>
    <% end %>
    <% if session[:type] == "colonist"%>
     <%= link_to "Application Status", "/colonists_status/#{session[:id]}", class: "topbutton"%>
    <% end %>
</div>
  </head>



  <body>
      <% if session[:id]%>
      <div class= "username"><h3><%= session[:first_name] %></h3></div>
      <%= link_to "Logout", logout_path, method: "DELETE", class: "logout"%>
       <% else %>
       <%= link_to "Login", login_path%>
       <h3>Please Sign In</h3>
       <% end %>
    <%= yield %>
  </body>
</html>
