<!DOCTYPE html>
<html>
  <head>
    <title>SpaceX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Colonists", colonists_path(@colonists)%>
    <%= link_to "Planets", planets_path(@planets)%>
    <%= link_to "Sponsors", sponsors_path(@sponsors)%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
